

.form {
    width: 70%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    background-color: #ffffff;
}

#msgBox {
    width: 90%;
    background-color: rgb(118, 129, 129);
    border-radius: 3px;
    border: none;
    color: white;
    outline: none;
    height: 50px;
}


